body {
    background-color: #ebe2d6;
}

#newBookBtn {
    padding: 15px 20px;
    color: #fff;
    background: #61764B;
    border: none;
    border-radius: 0px;
    font-size: 18px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.bookCard {
    border: 1px solid green;
}  

